.image {
  margin-top: 20px;
  height: 50px;
  width: 220px;
  transition: 0.15s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.heading {
  color: white;
}
.wrapper {
  flex-direction: column;
}
