.steam_logo {
  height: 30px;
  width: 30px;
  fill: white;
  transition-delay: 0.15s;
}

.login_btn:hover .steam_logo {
  fill: black;
}

.heading {
  color: white;
}
.wrapper {
  flex-direction: column;
}

header {
  color: white;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: black;
  display: inline-grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  padding: 1.5rem;
  border-bottom: solid 2px white;
}
.logo {
  place-self: center;
}

.user_info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.logout_btn {
  scale: 1.2;
  width: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 1rem;
}

.logout_btn:hover {
  scale: 1.4;
}

.username {
  cursor: pointer;
  font-size: 1rem;
}

.avatar {
  height: 3rem;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
}

.main_menu_list {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main_menu_list li {
  list-style: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
}

.main_menu_list li::after {
  position: absolute;
  content: "";
  background-color: white;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom left;
}

.main_menu_list li:hover::after {
  transform: scaleX(1);
}
