.text {
  color: white;
}
.wrapper {
  flex-direction: column;
}
.button {
  position: relative;
  width: 20vmin;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  color: #e9ecef;
  z-index: 1;
  transition-delay: 0.15s;
}
.button:hover {
  color: black;
}
.button::before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12%;
  left: 2.5%;
  right: 2.5%;
  top: 100%;
  width: 95%;

  background-color: white;
  transition: all 0.3s ease-in-out;
}
.button:hover::before {
  top: 12%;
}
