@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html,
body,
#root {
  /* height: 100%;
  width: 100%; */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App {
  height: 100%;
  width: 100%;
  background-color: black;
}
.center_items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  font-size: 30px;
}
